/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab:wght@300&display=swap');
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: #b1adad;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 26px;
}
/* Top Players style */
.top-players{
    margin-bottom: 30px;
}
.section-tittle{
    font-size: 24px; 
    color: #562EFF;
    margin-top: 3px;
}
.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 21px;
    border-radius: 7px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
/* --------top blog styles-------- */
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
 .blog{
    display: flex; 
 }  
 .blog-info a{
     text-decoration: none;
 }
 .blog-author{
    color: #9F9F9F;
 }